{% extends 'layouts/base-simulador.html' %}

{% block title %} SIMULADOR {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container mt--8 pb-5">
    <div class="row">
        

        <div class="col-xl-4 order-xl-2">
            <div class="card card-profile">
                <img src="/static/assets/img/solar/solar_residencial.webp" alt="Image placeholder" class="card-img-top">
                <div class="row justify-content-center">
                    
                </div>
               
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col">
                            <div class="card-profile-stats d-flex justify-content-center">
                                <div>
                                    <span class="heading">RESIDENCIAL</span>
                                    
                                </div>
                               
                            </div>
                        </div>
                    </div>
                   
                    <div class="text-justify">
                        <h5 class="ni education_hat mr-2" >
                           Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam adipisci consequuntur quisquam corrupti temporibus laboriosam mollitia facere minima reprehenderit aspernatur labore, quo commodi tempora soluta itaque eveniet quas dolorem officiis!
                        </h5>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 order-xl-2"></div>


        <div class="col-xl-4 order-xl-2">
            <div class="card card-profile">
                <img src="/static/assets/img/solar/solar_2.avif" alt="Image placeholder" class="card-img-top">
                
                
                <div class="card-body pt-0">
                    
                    <div class="row">
                        <div class="col">
                            <div class="card-profile-stats d-flex justify-content-center">
                                <div>
                                    <span class="heading">Comercial</span>
                                    
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="text-justify">
                        <h5 class="ni education_hat mr-2" >
                           Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam adipisci consequuntur quisquam corrupti temporibus laboriosam mollitia facere minima reprehenderit aspernatur labore, quo commodi tempora soluta itaque eveniet quas dolorem officiis!
                        </h5>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}