
<!-- JavaScript de Bootstrap (al final del body) 
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->


<script src="/static/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/vendor/js-cookie/js.cookie.js"></script>
<script src="/static/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="/static/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<link href=" /static/assets/vendor/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="/static/assets/vendor/select2/dist/js/select2.min.js"></script>

<script>
    $('select.form-control').select2({
            width: '100%',
            allowClear: true,
            placeholder: function () {
                return $(this).data('placeholder');
            }
        });
        $('.select2-container .select2-selection--single').css('height', 'calc(2.55rem + 2px)');

    function actualizarFechaHora() {
    const ahora = new Date();
    const opciones = {
      weekday: 'long',
      year: 'numeric',
      month: 'long',
      day: 'numeric',
      hour: '2-digit',
      minute: '2-digit',
      //second: '2-digit',
    };
    document.getElementById('datetime').textContent = ahora.toLocaleString('es-MX', opciones);
  }

  // Actualizar cada segundo
  setInterval(actualizarFechaHora, 1000);

  // Mostrar inmediatamente
  actualizarFechaHora();
</script>